.react-calendar {
  width: 100%; /* Takvimin genişliğini artır */
  font-size: 24px; /* Takvimin genel font boyutunu artır */
  border-collapse: separate;
  border-spacing: 2px; /* Tarihler arasında boşluk oluştur */
}

.react-calendar__tile {
  border: 1px solid #ddd; /* Tarihler arasında gri çizgi */
}
.tileDisabled {
  opacity: 0.5; /* Müsait olmayan günler için soluk görünüm */
}

.tileContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* Tile içeriğinin font boyutunu ayarla */
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0; /* Tüm tarihler için hover stilini ayarla */
}

.react-calendar__tile--active {
  background-color: white; /* Seçili tarih için arka plan */
  color: black;
}

.react-calendar__tile--active:hover {
  background-color: #e9e9e9; /* Seçili tarih için hover durumunda arka plan */
}

.react-calendar__tile {
  font-weight: bold; /* Tüm takvim hücreleri için yazı tipi ağırlığını bold yap */
}

.tileContent.price-cheapest {
  color: rgb(11, 167, 52); /* En düşük fiyat için özel bir renk */
  font-weight: bold; /* Tüm takvim hücreleri için yazı tipi ağırlığını bold yap */
}

.tileContent.price-color-0 {
  color: rgb(255, 148, 26); /* İkinci en düşük fiyat aralığı için bir renk */
  font-weight: normal;
}

.tileContent.price-color-1 {
  color: red; /* En yüksek fiyat aralığı için bir renk */
  font-weight: normal;
}

.tileContent.price-color-2 {
  color: rgb(154, 12, 12); /* Orta fiyat aralığı için bir renk */
  font-weight: normal;
}
